// $main-new

.container

  main
    position: relative
    top: 0
    left: 0
    height: 100%
    width: 100%
    z-index: 10
    background-color: $main-back




    .prev-but, .next-but
      display: flex
      position: absolute
      height: 100vh
      align-items: center
      z-index: 18

      svg
        path
          transition: all 300ms ease-out
          transform-origin: center center
        &:hover
          cursor: pointer
          path
            transform: scale(1.2)
        &.disabled
          path
            stroke: lighten($main-light, 10)

    .prev-but
      left: 0
    .next-but
      right: 0



    svg.svg-visible
      position: absolute
      // top: -10px
      // left: -10px
      stroke: $main-dark
      overflow: visible

    // .not-visible
    //   position: absolute
    //   visibility: hidden

    .heading-wrap
      position: relative
      width: 100%
      // height: fit-content
      // background-color: blue
      
      .heading-back
        display: inline-block
        position: absolute
        top: 0
        width: 100%
        height: 68.81px
        background-color: $main-dark
        clip-path: url('#h-back')
        // clip-path: polygon(9.5% 10%, 100% 10%, 100% 90%, 5% 90%)

      .heading
        display: inline-block
        position: relative
        top: 10px
        color: $main-back
        text-align: center
        width: 100%
        z-index: 15
    
    .content-wrap
      position: relative
      display: grid
      width: 100%
      padding: 0 15px
      grid-template-rows: minmax(100px, 1.5fr) minmax(80px, 1fr) minmax(80px, 1fr) minmax(80px, 1fr) minmax(80px, 1fr)
      grid-template-columns: 100%
      grid-row-gap: 15px
      z-index: 16

      & :not(svg)
        padding: 0 10px
        color: $main-dark

      .q-wrap
        // display: flex
        grid-row: 1 / 2
        // background-color: darken($main-light, 6)
        width: 75%
        // align-items: center
        justify-self: center
        // border-radius: 15px

        .false-wrap
          position: relative
          height: 100%
          width: 100%
          text-align: center
        
          .q
            display: flex
            position: absolute
            // top: 0
            margin: 0
            text-align: center
            background-color: darken($main-light, 6)
            width: 100%
            height: 100%
            align-items: center
            // grid-row: 1 / 2
            // grid-column: 1
            justify-content: center
            border-radius: 15px
            opacity: 0
            // z-index: 15

            
            &.visible
              opacity: 1
              z-index: 16

              // &.move
              //   transition-duration: 800ms
              //   transition-timing-function: ease-in-out
              //   &.left
              //     transform: translate(-130%)
              //     opacity: 0
              //   &.right
              //     transform: translate(130%)
              //     opacity: 0


      
      .a-wrap
        position: relative
        width: 65%
        justify-self: center

        @for $i from 1 through 5
          &:nth-child(#{$i})
            grid-row: #{($i)} / #{($i + 1)}

            .move
              transition-delay: 70ms * $i
            
        

        .a
          display: flex
          position: absolute
          height: 100%
          width: 100%
          background-color: lighten($main-light, 10)
          border-radius: 15px
          align-items: center
          // -webkit-animation: animation 1000ms linear
          // animation: animation 1000ms linear
          // animation-play-state: paused
          transition: all 100ms
          opacity: 0
          // z-index: 15

          &.visible
            opacity: 1
            z-index: 16

            &:hover
              opacity: 0.6
              animation-play-state: running
              cursor: pointer

          .a-h
            margin: 0
            text-align: center
          
          .a-icon
            circle
              stroke-dasharray: 94.3px
          
          &.select
            circle
              stroke-dashoffset: 0
              animation: circle 600ms ease-in-out forwards


    .move
      transition-duration: 600ms !important
      transition-timing-function: ease-in-out !important
      &.left
        transform: translate3d(-140%, 0, 0) !important
        // opacity: 0
      &.right
        transform: translate3d(140%, 0, 0) !important
        // opacity: 0
      &.center
        transform: translate3d(0%, 0, 0) !important


// .on-right
//   transform: translateX(140%)
//   transition: 0
// .on-left
//   transform: translateX(-140%)
//   transition: 0

@media screen and (max-width: 425px)
  .container
    main
      .prev-but, .next-but
        display: none

        svg
          height: 70px
          width: 70px

      .content-wrap
        grid-template-rows: minmax(80px, 1.5fr) minmax(70px, 1fr) minmax(70px, 1fr) minmax(70px, 1fr) minmax(70px, 1fr)
        padding: 0

        .q-wrap
          width: 90%

          .q
            left: 0

            .q-h
              font-size: 1.02em
              width: 100%
              margin:
                top: 0.5em
                left: 0
                right: 0
                bottom: 0.5em
            
          .false-wrap
            div
              position: absolute
              height: 100%
              width: 50%
            
            .new-prev-but
              left: 0
            .new-next-but
              right: 0
              


        .a-wrap
          width: 80%
          .a
            left: 0
            font-size: 0.93em

            .a-h
              text-align: left

            .a-icon
              height: 30px
              width: 30px

  